<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @instagram_pop.username %>
</p>

<p>
  <b>Caption:</b>
  <%= @instagram_pop.caption %>
</p>

<p>
  <b>Comments count:</b>
  <%= @instagram_pop.comments_count %>
</p>

<p>
  <b>Likes count:</b>
  <%= @instagram_pop.likes_count %>
</p>

<p>
  <b>Link:</b>
  <%= @instagram_pop.link %>
</p>

<p>
  <b>Low resolution url:</b>
  <%= @instagram_pop.low_resolution_url %>
</p>

<p>
  <b>Standard resolution url:</b>
  <%= @instagram_pop.standard_resolution_url %>
</p>


<%= link_to 'Back', instagram_pops_path %>
